<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body class="container">

  <div id="form">
    <p>Please login to your account</p>
    <hr />
    <form action="/changepwd" method="post">
      <div class="form-group">
        <label for="form_password">New password</label>
        <input id="form_password" type="password" name="password" />
      </div>
      <div class="form-group">
        <label for="form_password">New password again</label>
        <input id="form_password" type="password" name="passwordBis" />
      </div>
      <button class="btn btn-primary btn-block" type="submit" value="Submit">Change my password</button>
    </form>
    <hr />
  </div>

</body>

</html>